<div class="home">
  <h1 class="home__heading">Dashboard
    <span class="logout"><a href="/logout">Logout</a></span>
  </h1>

  <div class="home__main">
    <ul>
      <li>Name: {{ user.name }}</li>
      <li>Email:{{ user.email }}</li>
    </ul>
  </div>
</div>