<div class='index'>
  <h1 class="index__title">Welcome</h1>
  {{#if userId}}
  <form action="" method="post" class="index__main">
    <span class="index__main--btn"><a href="/home">Home</a></span>
    <span class="index__main--btn"><a href="/logout">Logout</a></span>

  </form>

  {{/if}}
  <div class="index__sub">
    <span class="index__sub--btn"><a href="/login">Login</a></span>
    <span class="index__sub--btn"><a href="/register">Register</a></span>
  </div>

</div>