<div class="login">
  <h1 class="login__heading">Login</h1>
  <form action="/login" method="post" class="login__main">
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="password" name="password">
    <input type="submit" />
    <a href="/register">Register</a>
  </form>
</div>