<div class="register">
  <h1 class="register__heading">Register</h1>
  <form action="/register" method="post" class="register__main">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="password" name="password">
    <input type="submit" />
    <a href="/login">Login</a>
  </form>
</div>